/**
*用户管理
*/
.user-manager {
    background-image: url(../images/lxr.png);
}

.user-manager-icon {
    background-image: url(../images/lxr_16.png)!important;
    width:16px;
    height: 16px;
    background-repeat: no-repeat;
}


/**
  fileView
*/

.file-view-base {
    float:left;
    margin: 8px;
    width:112px;
    height:112px;
    text-align: center;
    cursor: pointer;
}

.file-view-onwer {
    width:104px;
    height:104px;
}

.file-view-span {
    font-family:"arial";
    color:#9b4aff;
    font-size:16px;
}

.file-view-base-select {
    background: #c8d0ff;
    filter:alpha(opacity=85);
    -moz-opacity:0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
    border:1px dashed #53989d;
}
.file-view-base-mouse{
    background: #e0e4ff;
    opacity: 0.95;

}
.file-view-base-mouse div{
    background: #dbe4ff;
    filter:alpha(opacity=0.95);
    -moz-opacity:0.95;
    -khtml-opacity: 0.95;
    opacity: 0.95;

}

.win-active {
    background: red;
}


/**
* dock
*/
.dock-view-base {
    float:left;
    margin: 8px;
    width:64px;
    height:64px;
    text-align: center;
    cursor: pointer;
}