.left {
    background:#a3d0f5;
    position:absolute!important;
    z-index: 40000;

}
.zc {
    position: relative;
    zoom:2.5;
    font-size: 20;
    color:#c71585;
}
.zc li{
    position: relative;
    left:20px;
    margin-left: 20;
    zoom:0.7;
    color:blue;
}
.right {
    background:#f7fdd9;
    position:absolute!important;
    z-index: 40000;
}

.regist {
    background: #ecef62;
    position:absolute!important;
    z-index: 40000;
    background:-webkit-gradient(linear,0 0,0 100%,from(#ecef62),to(#f7fdd9));
    background:-moz-linear-gradient(top,#ecef62,#f7fdd9);
}

.login {
    background:#fbd9dd;
    position:absolute!important;
    z-index: 40001;
    border-radius: 50px 15px;
    background:-webkit-gradient(linear,0 0,100% 0,from(#fbd0f5),to(#fdbdd9));
    background:-moz-linear-gradient(left,#fbd0f5,#fdbdd9);
}

.label {
    position:relative;
    z-index : 555555;
    zoom:1.6;
}

.label span {
    width: 100px;
    float:left;
}

.regist_button {
    border:1;
}